<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.cookmeapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cookme_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cookme_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FavoritesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Healthy2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HealthyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HealthyCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dessert2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DessertActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DessertCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dinner2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DinnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DinnerCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Breakfast2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BreakfastActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".BreakfastCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Intro"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityHome"
            android:screenOrientation="portrait" />
    </application>

</manifest>